:root{
    --text-color: #021f2a;
    --text-color-1: #021f2a;
    --bg-color-1: #fff;
    --bg-color-2: #fff;
    --txt-shadow:#8a8a8a;
    --box-shad: #3E3E3E;
}

.dark-it{
    --text-color-1: #FFD700;
    --text-color: #fff;
    --bg-color-1: #021f2a;
    --bg-color-2: #ffffff;
}

/* ---------------- Places Section ---------------------- */

.places{
    background: var(--bg-color-1);
}

.heading{
    text-align: center;
    display: flex;
    justify-content: center;
}

.heading h2{
    width: 30%;
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--text-color-1);
    border-bottom: 2px solid var(--text-color-1);
}

.places-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1.5rem;
    justify-content: center;
    margin-top: 5rem;
}

.places-container .box{
    position: relative;
}

.place-img{
    width: 250px;
    height: 100%;
    overflow: hidden;
}

.place-img img{
    width: 100%;
    height: 100%;
}

.place-img img:hover{
    transform: scale(1.1);
    transition: 1s;
}

.place-text{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.place-text h3{
    color: var(--bg-color-2);
    text-shadow: 1px 1px 2px var(--txt-shadow);
    font-weight: 400;
    font-size: 1rem;
}

.place-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    background: var(--text-color);
    color: var(--bg-color-1);
    font-size: 20px;
    cursor: pointer;
}

.box:hover{
    box-shadow: 2px 2px 8px 0px #3E3E3E;
}

.places-container .box:hover{
    background: #01151d;
}

